<style>
    @media only screen and (max-width: 1200px) {
   .m-portlet__head {
     overflow: auto;
   }
 }

 @media only screen and (max-width: 460px) {
   .m-content {
     padding-right: 0px;
     padding-left: 0px;
   }

   .m-portlet__body{
       padding: 0px;
       overflow:auto;
   }
 }
</style>

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Korisnici</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption" style="width:100%;padding-top:15px;">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Korisnički računi
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a [routerLink]="['dodaj']" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Dodaj korisnički račun</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow: auto;">
            <div id="m_table_1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <flash-messages></flash-messages>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="m_table_1"
                            role="grid" aria-describedby="m_table_1_info" style="width: 1528px;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Country: activate to sort column ascending">Ime i prezime</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 144.25px;" aria-label="ShipCity: activate to sort column ascending">Korisničko ime</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 179.25px;" aria-label="ShipAddress: activate to sort column ascending">Klijent</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 138.25px;" aria-label="CompanyAgent: activate to sort column ascending">Uloga</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 215.25px;" aria-label="CompanyName: activate to sort column ascending">Status</th>
                                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 76.5px;" aria-label="Actions">Akcije</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" *ngFor="let korisnik of _service?.korisnici | paginate: { itemsPerPage: 20, currentPage: p }">
                                    <td class="sorting_1">{{korisnik.imePrezime}}</td>
                                    <td>{{korisnik.ime}}</td>
                                    <td>{{korisnik.klijent}}</td>
                                    <td>{{korisnik.uloga}}</td>
                                    <td *ngIf="korisnik.active">
                                        <span class="m-badge m-badge--accent m-badge--dot"></span>&nbsp;
                                        <span class="m--font-bold m--font-accent">Aktivan</span>
                                    </td>
                                    <td *ngIf="!korisnik.active">
                                        <span class="m-badge m-badge--danger m-badge--dot"></span>&nbsp;
                                        <span class="m--font-bold m--font-danger">Neaktivan</span>
                                    </td>
                                    <td nowrap="">
                                        <span class="dropdown">
                                            <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" (click)="edit(korisnik)">
                                                    <i class="la la-edit"></i>Uredi podatke</a>
                                                <a class="dropdown-item" (click)="changeStatus(korisnik)">
                                                    <i class="la la-leaf"></i>Promijeni status</a>
                                            </div>
                                        </span>
                                        <a (click)="edit(korisnik)" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                            title="View">
                                            <i class="la la-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 dataTables_pager">
                        <div class="dataTables_paginate paging_simple_numbers" id="m_table_1_paginate">
                            <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







