<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Uređaji</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Novi uređaj
                    </h3>
                </div>
            </div>
        </div>
        <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" [formGroup]="uredjajForm">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Naziv:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control m-input" placeholder="Naziv" formControlName="naziv" required [ngClass]="{ 'is-invalid': submitted && f.naziv.errors }">
                        <span class="m-form__help">Unesite naziv</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Klijent:</label>
                    <div class="col-lg-6">
                        <select class="form-control m-input" [(ngModel)]="selectedKlijent" formControlName="klijentId" name="klijenti" required [ngClass]="{ 'is-invalid': submitted && f.klijentId.errors }">
                            <option *ngFor="let klijent of klijenti" [ngValue]="klijent.id">
                                {{klijent.naziv}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Email 1:</label>
                    <div class="col-lg-6">
                        <input type="email" class="form-control m-input" placeholder="Email" formControlName="email1" required [ngClass]="{ 'is-invalid': submitted && f.email1.errors }">
                        <span class="m-form__help">Unesite email</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Email 2:</label>
                    <div class="col-lg-6">
                        <input type="email" class="form-control m-input" placeholder="Email" formControlName="email2" required [ngClass]="{ 'is-invalid': submitted && f.email2.errors }">
                        <span class="m-form__help">Unesite email</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Minimalna temperatura:</label>
                    <div class="col-lg-3">
                        <input type="email" class="form-control m-input" placeholder="Minimalna temperatura" formControlName="tmin" 
                        required [ngClass]="{ 'is-invalid': submitted && f.tmin.errors }">
                        <span class="m-form__help">Unesite minimalnu temperaturu</span>
                    </div>
                    <label class="col-lg-2 col-form-label">Maksimalna temperatura:</label>
                    <div class="col-lg-3">
                        <input type="email" class="form-control m-input" placeholder="Maksimalna temperatura" formControlName="tmax" 
                        required [ngClass]="{ 'is-invalid': submitted && f.tmax.errors }">
                        <span class="m-form__help">Unesite maksimalnu temperaturu</span>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">Minimalna vlažnost:</label>
                        <div class="col-lg-3">
                            <input type="email" class="form-control m-input" placeholder="Minimalna vlažnost" formControlName="hmin" 
                            required [ngClass]="{ 'is-invalid': submitted && f.hmin.errors }">
                            <span class="m-form__help">Unesite minimalnu vlažnost</span>
                        </div>
                        <label class="col-lg-2 col-form-label">Maksimalna vlažnost:</label>
                        <div class="col-lg-3">
                            <input type="email" class="form-control m-input" placeholder="Maksimalna vlažnost" formControlName="hmax" 
                            required [ngClass]="{ 'is-invalid': submitted && f.hmax.errors }">
                            <span class="m-form__help">Unesite maksimalnu vlažnost</span>
                        </div>
                    </div>
            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-6">
                            <button (click)="submit()" type="submit" class="btn btn-brand">Spremi</button>
                            <button type="reset" class="btn btn-secondary">Odbaci</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <flash-messages></flash-messages>
    </div>
</div>