<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login"
    style="background-image: url(../../../assets/app/media/img//bg/bg-3.jpg);min-height:100vh;">
    <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
        <div class="m-login__container">
            <div class="m-login__logo">
                <a href="#">
                    <img src="../../../assets/app/media/img//logos/logo-1.png">
                </a>
            </div>
            <div class="m-login__signin">
                <div class="m-login__head">
                    <h3 class="m-login__title">Sign In To Admin</h3>
                </div>
                <form class="m-login__form m-form" action="" [formGroup]="loginForm">
                    <div class="form-group m-form__group">
                        <input class="form-control m-input" type="text" placeholder="Korisničko ime" name="email" autocomplete="off" 
                        formControlName="username" required [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                    </div>
                    <div class="form-group m-form__group">
                        <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Lozinka"
                         name="password" formControlName="password" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    </div>
                    <div class="m-login__form-action">
                        <button (click)="login()" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">Sign In</button>
                    </div>
                </form>
                <flash-messages></flash-messages>
            </div>
        </div>
    </div>
</div>