<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200" (window:resize)="onResize($event)">
    <div class="m-container m-container--fluid m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-brand  m-brand--skin-dark ">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                        <!-- <a href="index.html" class="m-brand__logo-wrapper">
                            <img alt="" src="assets/demo/demo12/media/img/logo/logo.png">
                        </a>-->
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block"
                            (click)="openSidebar()">
                            <span></span>
                        </a>
                        <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block"
                            (click)="openHeader()">
                            <i class="flaticon-more"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn">
                    <i class="la la-close"></i>
                </button>
                <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-topbar__nav-wrapper">
                        <ul class="m-topbar__nav m-nav m-nav--inline">
                            <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                m-dropdown-toggle="click">
                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                    <span class="m-topbar__userpic">
                                        <img src="assets/img/user-placeholder.jpg" class="m--img-rounded m--marginless m--img-centered" alt="">
                                    </span>
                                    <span class="m-nav__link-icon m-topbar__usericon  m--hide">
                                        <span class="m-nav__link-icon-wrapper">
                                            <i class="flaticon-user-ok"></i>
                                        </span>
                                    </span>
                                    <span class="m-topbar__username m--hide">Nick</span>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__header m--align-center">
                                            <div class="m-card-user m-card-user--skin-light">
                                                <div class="m-card-user__pic">
                                                    <img src="assets/img/user-placeholder.jpg" class="m--img-rounded m--marginless" alt="">
                                                </div>
                                                <div class="m-card-user__details">
                                                    <a [routerLink]="['profil']" class="m-card-user__name m--font-weight-500">{{_service?.username}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav m-nav--skin-light">
                                                    <li class="m-nav__item">
                                                        <a (click)="logout()" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">Odjava</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" style="min-height:100vh;">
    <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
        <i class="la la-close" (click)="closeSidebar()"></i>
    </button>
    <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
        <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " m-menu-vertical="1" m-menu-scrollable="0"
            m-menu-dropdown-timeout="500">
            <ul class="m-menu__nav ">
                <li class="m-menu__item" aria-haspopup="true" [routerLinkActive]="['m-menu__item--active']">
                    <a [routerLink]="['naslovnica']" class="m-menu__link ">
                        <span class="m-menu__item-here"></span>
                        <i class="m-menu__link-icon flaticon-line-graph"></i>
                        <span class="m-menu__link-text">Naslovnica</span>
                    </a>
                </li>
                <li class="m-menu__item" aria-haspopup="true" [routerLinkActive]="['m-menu__item--active']">
                    <a [routerLink]="['uredjaji']" class="m-menu__link ">
                        <span class="m-menu__item-here"></span>
                        <i class="m-menu__link-icon flaticon-share"></i>
                        <span class="m-menu__link-text">Uređaji</span>
                    </a>
                </li>
                <li class="m-menu__item" aria-haspopup="true" [routerLinkActive]="['m-menu__item--active']">
                    <a [routerLink]="['mjerenja']" class="m-menu__link ">
                        <span class="m-menu__item-here"></span>
                        <i class="m-menu__link-icon flaticon-dashboard"></i>
                        <span class="m-menu__link-text">Mjerenja</span>
                    </a>
                </li>
                <li class="m-menu__item" aria-haspopup="true" [routerLinkActive]="['m-menu__item--active']">
                    <a [routerLink]="['grupe']" class="m-menu__link ">
                        <span class="m-menu__item-here"></span>
                        <i class="m-menu__link-icon flaticon-squares-3"></i>
                        <span class="m-menu__link-text">Grupe</span>
                    </a>
                </li>
                <li class="m-menu__item" aria-haspopup="true" [routerLinkActive]="['m-menu__item--active']">
                    <a [routerLink]="['podgrupe']" class="m-menu__link ">
                        <span class="m-menu__item-here"></span>
                        <i class="m-menu__link-icon flaticon-interface-7"></i>
                        <span class="m-menu__link-text">Podgrupe</span>
                    </a>
                </li>
                <li class="m-menu__item" aria-haspopup="true" [routerLinkActive]="['m-menu__item--active']">
                    <a [routerLink]="['zaposlenici']" class="m-menu__link ">
                        <span class="m-menu__item-here"></span>
                        <i class="m-menu__link-icon flaticon-avatar"></i>
                        <span class="m-menu__link-text">Zaposlenici</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="m-grid__item		m-footer ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                <span class="m-footer__copyright">
                    2019 © RSS d.o.o
                </span>
            </div>
        </div>
    </div>
</footer>