<style>
    .my-class2 {
        background-color: rgba(255, 0, 0, 0.1);
        width: 50px;
    }

    .my-class {
        background-color: rgba(255, 0, 0, 0.1);
    }

    td {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }

    td {
        text-align: center;
    }

    #pie-chart-parent {
        display: flex;
        overflow: hidden;
    }
</style>
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Naslovnica</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--full-height  m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Trenutno stanje uređaja
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 " *ngFor="let uredjaj of _service?.trenutnoStanje" style="padding-bottom:30px;border-right: 1px solid #ebedf2;border-bottom:1px solid #ebedf2;padding-top:20px;">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    {{uredjaj.naziv}}
                                </h4>
                                <span class="m-widget24__desc">
                                    {{uredjaj.vrijemeMjerenja | dateFormatPipe}}
                                </span>
                                <br/>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6" style="text-align: center;">
                                        <img src="../../../assets/img/goodT.png" style="width: 50%; display:block;margin:auto;" *ngIf="uredjaj.validT" />
                                        <img src="../../../assets/img/badT.png" style="width: 50%;display:block;margin:auto;" *ngIf="!uredjaj.validT" />
                                        <br/>
                                        <span class="m-widget24__stats m--font-brand" style="font-size:28px;font-weight:bold;color:#5f6568!important;" *ngIf="uredjaj.t">{{uredjaj.t | number : '1.1-1'}}</span>
                                        <span class="m-widget24__stats m--font-brand" style="font-size:28px;font-weight:bold;color:#5f6568!important;" *ngIf="!uredjaj.t">-/-</span>
                                    </div>
                                    <div class="col-md-6" style="text-align: center;">
                                        <img src="../../../assets/img/goodH.png" style="width: 50%;display:block;margin:auto;" *ngIf="uredjaj.validH" />
                                        <img src="../../../assets/img/badH.png" style="width: 50%;display:block;margin:auto;" *ngIf="!uredjaj.validH" />
                                        <br/>
                                        <span class="m-widget24__stats m--font-brand" style="font-size:28px;font-weight:bold;color:#5f6568!important;"  *ngIf="uredjaj.h!=null">{{uredjaj.h | number : '1.1-1'}}</span>
                                        <span class="m-widget24__stats m--font-brand" style="font-size:28px;font-weight:bold;color:#5f6568!important;" *ngIf="!uredjaj.h && uredjaj.h!=0">-/-</span>
                                    </div>
                                </div>
                               
                                <div class="m--space-10"></div>
                                <br/>
                                <a (click)="openChart(uredjaj.id)" class="open-chart" style="cursor:pointer;">Pregledaj stanje</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isChart">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--full-height  m-portlet--unair">
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12" style="min-height: 400px;">
                            <ngx-charts-line-chart *ngIf="multi1" [legendTitle]="legendTitle1" [scheme]="colorScheme1" [results]="multi1"
                                [gradient]="gradient1" [xAxis]="showXAxis1" [yAxis]="showYAxis1" [legend]="showLegend1" [showXAxisLabel]="showXAxisLabel1"
                                [showYAxisLabel]="showYAxisLabel1" [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1" [timeline]="timeline1"
                                (select)="onSelect($event)">
                            </ngx-charts-line-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--full-height  m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Pregled mjerenja van opsega
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget11_tab1_content">
                            <div class="m-widget11">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td class="m-widget11__app">Uređaj</td>
                                                <td class="m-widget11__sales">Vrijeme
                                                    <br/> mjerenja</td>
                                                <td class="m-widget11__app">Temperatura</td>
                                                <td class="m-widget11__change">Minimalna
                                                    <br/> temperatura</td>
                                                <td class="m-widget11__price">Maksimalna
                                                    <br/>temperatura</td>
                                                <td class="m-widget11__app">Vlažnost</td>
                                                <td class="m-widget11__change">Minimalna
                                                    <br/> vlažnost</td>
                                                <td class="m-widget11__price">Maksimalna
                                                    <br/>vlažnost</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let uredjaj of _service?.criticalMjerenja | paginate: { itemsPerPage: 20, currentPage: p1, id:'paginate_1' }">
                                                <td>
                                                    <span class="m-widget11__title">{{uredjaj.loger}}</span>
                                                </td>
                                                <td *ngIf="uredjaj.vrijeme">{{uredjaj.vrijeme | dateFormatPipe }}</td>
                                                <td *ngIf="!uredjaj.vrijeme">/</td>

                                                <td>
                                                    <label [ngClass]="{'my-class2': !uredjaj.validTMin || !uredjaj.validTMax }">{{uredjaj.t}}</label>
                                                </td>
                                                <td>{{uredjaj.tmin}}</td>
                                                <td>{{uredjaj.tmax}}</td>
                                                <td>
                                                    <label [ngClass]="{'my-class2': !uredjaj.validHMin || !uredjaj.validHMax }">{{uredjaj.h}}</label>
                                                </td>
                                                <td>{{uredjaj.hmin}}</td>
                                                <td>{{uredjaj.hmax}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 dataTables_pager">
                                    <div class="dataTables_paginate paging_simple_numbers" id="m_table_paginate" style="float:right;">
                                        <pagination-controls id="paginate_1" (pageChange)="p1 = $event" class="my-pagination"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--full-height  m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Pregled aktivnosti uređaja
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                        <form [formGroup]="filterForm">
                                <div class="row">
                                    <div class="col-lg-2 col-md-6 col-sm-12">
                                        <select class="form-control m-input" [(ngModel)]="selectedGrupa" formControlName="grupaId" name="grupe" (change)="onChange()">
                                            <option value="0">Odaberite grupu</option>
                                            <option *ngFor="let grupa of grupe" [ngValue]="grupa.id">
                                                {{grupa.naziv}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-12">
                                        <select class="form-control m-input" [(ngModel)]="selectedPodgrupa" formControlName="podgrupaId" name="podgrupe">
                                            <option value="0">Odaberite podgrupu</option>
                                            <option *ngFor="let uredjaj of _service?.filteredPodgrupe" [ngValue]="uredjaj.id">
                                                {{uredjaj.naziv}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-6 col-sm-12">
                                        <button type="button" (click)="pretrazi()" class="btn btn-brand">Pretraži</button>
                                    </div>
                                </div>
                            </form>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget11_tab1_content">
                            <div class="m-widget11">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td class="m-widget11__app">Uređaj</td>
                                                <td class="m-widget11__sales">Vrijeme zadnjeg
                                                    <br/> mjerenja</td>
                                                <td class="m-widget11__change">Minimalna
                                                    <br/> temperatura</td>
                                                <td class="m-widget11__price">Maksimalna
                                                    <br/>temperatura</td>
                                                <td class="m-widget11__change">Minimalna
                                                    <br/> vlažnost</td>
                                                <td class="m-widget11__price">Maksimalna
                                                    <br/>vlažnost</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let uredjaj of _service?.uredjajiValid | paginate: { itemsPerPage: 10, currentPage: p, id:'paginate_2' }" [ngClass]="{'my-class': !uredjaj.valid }">
                                                <td>
                                                    <span class="m-widget11__title">{{uredjaj.naziv}}</span>
                                                    <span class="m-widget11__sub">{{uredjaj.klijent}}</span>
                                                </td>
                                                <td>{{uredjaj.vrijemeMjerenja | dateFormatPipe }}</td>
                                                <td>{{uredjaj.tmin}}</td>
                                                <td>{{uredjaj.tmax}}</td>
                                                <td>{{uredjaj.hmin}}</td>
                                                <td>{{uredjaj.hmax}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 dataTables_pager">
                                    <div class="dataTables_paginate paging_simple_numbers" id="m_table_1_paginate" style="float:right;">
                                        <pagination-controls id="paginate_2" (pageChange)="p = $event" class="my-pagination"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>