<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Uređaji</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Uređaji
                    </h3>
                </div>
            </div>
        </div>
        <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" [formGroup]="uredjajForm">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Grupa:</label>
                    <div class="col-lg-6">
                        <select class="form-control m-input" [(ngModel)]="selectedGrupa" formControlName="grupaId" name="grupe" 
                        required [ngClass]="{ 'is-invalid': submitted && f.grupaId.errors }" (change)="onChange()">
                            <option *ngFor="let grupa of _service?.grupe" [ngValue]="grupa.id" id="{{grupa.id}}">
                                {{grupa.naziv}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Podgrupa:</label>
                    <div class="col-lg-6">
                        <select class="form-control m-input" [(ngModel)]="selectedKlijent" formControlName="podgrupaId" name="podgrupe" 
                        required [ngClass]="{ 'is-invalid': submitted && f.podgrupaId.errors }">
                            <option *ngFor="let podgrupa of _service?.filteredPodgrupe" [ngValue]="podgrupa.id">
                                {{podgrupa.naziv}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">Minimalna temperatura:</label>
                        <div class="col-lg-3">
                            <input type="email" class="form-control m-input" placeholder="Minimalna temperatura" formControlName="tmin" 
                            required [ngClass]="{ 'is-invalid': submitted && f.tmin.errors }">
                            <span class="m-form__help">Unesite minimalnu temperaturu</span>
                        </div>
                        <label class="col-lg-2 col-form-label">Maksimalna temperatura:</label>
                        <div class="col-lg-3">
                            <input type="email" class="form-control m-input" placeholder="Maksimalna temperatura" formControlName="tmax" 
                            required [ngClass]="{ 'is-invalid': submitted && f.tmax.errors }">
                            <span class="m-form__help">Unesite maksimalnu temperaturu</span>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">Minimalna vlažnost:</label>
                            <div class="col-lg-3">
                                <input type="email" class="form-control m-input" placeholder="Minimalna vlažnost" formControlName="hmin" 
                                required [ngClass]="{ 'is-invalid': submitted && f.hmin.errors }">
                                <span class="m-form__help">Unesite minimalnu vlažnost</span>
                            </div>
                            <label class="col-lg-2 col-form-label">Maksimalna vlažnost:</label>
                            <div class="col-lg-3">
                                <input type="email" class="form-control m-input" placeholder="Maksimalna vlažnost" formControlName="hmax" 
                                required [ngClass]="{ 'is-invalid': submitted && f.hmax.errors }">
                                <span class="m-form__help">Unesite maksimalnu vlažnost</span>
                            </div>
                        </div>
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Korisnici:</label>
                    <div class="col-lg-6">
                        <div class="m-checkbox-inline">
                            <label class="m-checkbox col-md-3" *ngFor="let zaposlenik of _service?.selectedUredjaj.korisnici">
                                <input type="checkbox" class="my-checkbox" (change)="checkZaposlenik($event)" name="{{zaposlenik.ime}}" 
                                id="z{{zaposlenik.id}}" value="{{zaposlenik.id}}" [checked]="zaposlenik.checked"> {{zaposlenik.ime}}
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-6">
                            <button (click)="submit()" type="submit" class="btn btn-brand">Spremi</button>
                            <button type="reset" class="btn btn-secondary">Odbaci</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <flash-messages></flash-messages>
    </div>
</div>