<style>
    .my-class {
        background-color: rgba(255, 0, 0, 0.1);
        color: #000;
    }
</style>
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Naslovnica</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet  m-portlet--unair">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-3" *ngFor="let loger of _service?.brojLogera">
                    <div class="m-widget24" style="margin-bottom:20px;">
                        <div class="m-widget24__item">
                            <h4 class="m-widget24__title">
                                {{loger.naziv}}
                            </h4>
                            <br>
                            <span class="m-widget24__desc">
                                Ukupan broj uređaja:
                            </span>
                            <span class="m-widget24__stats m--font-brand">
                                {{loger.brojLogera}}
                            </span>
                            <div class="m--space-10"></div>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar" [style.background-color]="loger.color" role="progressbar" style="width: 100%;" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--full-height  m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Pregled uređaja
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_widget11_tab1_content">
                            <div class="m-widget11">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td class="m-widget11__app">Uređaj</td>
                                                <td class="m-widget11__sales">Vrijeme zadnjeg
                                                    <br/> mjerenja</td>
                                                <td class="m-widget11__change">Minimalna
                                                    <br/> temperatura</td>
                                                <td class="m-widget11__price">Maksimalna
                                                    <br/>temperatura</td>
                                                <td class="m-widget11__change">Minimalna
                                                    <br/> vlažnost</td>
                                                <td class="m-widget11__price">Maksimalna
                                                    <br/>vlažnost</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let uredjaj of _service?.uredjajiValid | paginate: { itemsPerPage: 10, currentPage: p }" [ngClass]="{'my-class': !uredjaj.valid }">
                                                <td>
                                                    <span class="m-widget11__title">{{uredjaj.naziv}}</span>
                                                    <span class="m-widget11__sub">{{uredjaj.klijent}}</span>
                                                </td>
                                                <td>{{uredjaj.vrijemeMjerenja | dateFormatPipe }}</td>
                                                <td>{{uredjaj.tmin}}</td>
                                                <td>{{uredjaj.tmax}}</td>
                                                <td>{{uredjaj.hmin}}</td>
                                                <td>{{uredjaj.hmax}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 dataTables_pager">
                                    <div class="dataTables_paginate paging_simple_numbers" id="m_table_1_paginate" style="float:right;">
                                        <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>