<style>
    .my-class2 {
        background-color: rgba(255, 0, 0, 0.1);
        width: 50px;
    }

    .my-class {
        background-color: rgba(255, 0, 0, 0.1);
    }

    td {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }

    td {
        text-align: center;
    }

    #pie-chart-parent {
        display: flex;
        overflow: hidden;
    }
</style>
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title ">Naslovnica</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--full-height  m-portlet--unair">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Trenutno stanje uređaja
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 " *ngFor="let uredjaj of _service?.trenutnoStanjeKorisnik" style="padding-bottom:30px;border-right: 1px solid #ebedf2;border-bottom:1px solid #ebedf2;padding-top:20px;">
                            <div class="m-widget24__item">
                                <h4 class="m-widget24__title">
                                    {{uredjaj.naziv}}
                                </h4>
                                <span class="m-widget24__desc">
                                    {{uredjaj.vrijemeMjerenja | dateFormatPipe}}
                                </span>
                                <br/>
                                <br/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="../../../assets/img/goodT.png" style="width: 50%; display:block;margin:auto;" *ngIf="uredjaj.validT" />
                                        <img src="../../../assets/img/badT.png" style="width: 50%;display:block;margin:auto;" *ngIf="!uredjaj.validT" />
                                    </div>
                                    <div class="col-md-6">
                                        <img src="../../../assets/img/goodH.png" style="width: 50%;display:block;margin:auto;" *ngIf="uredjaj.validH" />
                                        <img src="../../../assets/img/badH.png" style="width: 50%;display:block;margin:auto;" *ngIf="!uredjaj.validH" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" style="text-align: center">
                                        <span class="m-widget24__stats m--font-brand" style="font-size:28px;font-weight:bold;color:#5f6568!important;" *ngIf="uredjaj.t">{{uredjaj.t | number : '1.1-1'}}</span>
                                        <span class="m-widget24__stats m--font-brand" style="font-size:28px;font-weight:bold;color:#5f6568!important;" *ngIf="!uredjaj.t">-/-</span>
                                    </div>
                                    <div class="col-md-6" style="text-align: center">
                                        <span class="m-widget24__stats m--font-brand" style="font-size:28px;font-weight:bold;color:#5f6568!important;" *ngIf="uredjaj.h!=null">{{uredjaj.h | number : '1.1-1'}}</span>
                                        <span class="m-widget24__stats m--font-brand" style="font-size:28px;font-weight:bold;color:#5f6568!important;" *ngIf="!uredjaj.h && uredjaj.h!=0">-/-</span>
                                    </div>
                                </div>
                                <div class="m--space-10"></div>
                                <br/>
                                <a (click)="openChart(uredjaj.id)" class="open-chart" style="cursor:pointer;">Pregledaj stanje</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isChart">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--full-height  m-portlet--unair">
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12" style="min-height: 400px;">
                                <ngx-charts-line-chart *ngIf="multi1" [legendTitle]="legendTitle1" [scheme]="colorScheme1" [results]="multi1"
                                    [gradient]="gradient1" [xAxis]="showXAxis1" [yAxis]="showYAxis1" [legend]="showLegend1" [showXAxisLabel]="showXAxisLabel1"
                                    [showYAxisLabel]="showYAxisLabel1" [xAxisLabel]="xAxisLabel1" [yAxisLabel]="yAxisLabel1" [timeline]="timeline1"
                                    (select)="onSelect($event)">
                                </ngx-charts-line-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>