<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Klijenti</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Klijenti
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a [routerLink]="['dodaj']" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Dodaj klijenta</span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow: auto;">
            <div id="m_table_1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <flash-messages></flash-messages>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="m_table_1"
                            role="grid" aria-describedby="m_table_1_info" style="width: 1528px;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_desc" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 61.25px;" aria-sort="descending"
                                        aria-label="OrderID: activate to sort column ascending">Naziv</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Country: activate to sort column ascending">Status</th>
                                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 76.5px;" aria-label="Actions">Akcije</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" *ngFor="let klijent of _service?.klijenti | paginate: { itemsPerPage: 20, currentPage: p }">
                                    <td>{{klijent.naziv}}</td>
                                    <td *ngIf="klijent.active">
                                        <span class="m-badge m-badge--accent m-badge--dot"></span>&nbsp;
                                        <span class="m--font-bold m--font-accent">Aktivan</span>
                                    </td>
                                    <td *ngIf="!klijent.active">
                                        <span class="m-badge m-badge--danger m-badge--dot"></span>&nbsp;
                                        <span class="m--font-bold m--font-danger">Neaktivan</span>
                                    </td>
                                    <td nowrap="">
                                        <span class="dropdown">
                                            <a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">
                                                <i class="la la-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" (click)="edit(klijent)">
                                                    <i class="la la-edit"></i>Uredi podatke</a>
                                                <a class="dropdown-item" (click)="changeStatus(klijent)">
                                                    <i class="la la-leaf"></i> Promijeni status</a>
                                            </div>
                                        </span>
                                        <a (click)="edit(klijent)" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                            title="View">
                                            <i class="la la-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 dataTables_pager">
                        <div class="dataTables_paginate paging_simple_numbers" id="m_table_1_paginate">
                            <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>