<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Klijenti</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Uredi klijenta
                    </h3>
                </div>
            </div>
        </div>
        <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" [formGroup]="klijentForm">
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">Naziv:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control m-input" placeholder="Naziv" formControlName="naziv" 
                        required [ngClass]="{ 'is-invalid': submitted && f.naziv.errors }">
                        <span class="m-form__help">Unesite naziv klijenta</span>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-6">
                            <button (click)="submit()" type="submit" class="btn btn-brand">Spremi</button>
                            <button type="reset" class="btn btn-secondary">Odbaci</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <flash-messages></flash-messages>
    </div>
</div>