<style>
    @media only screen and (max-width: 1200px) {
        .m-portlet__head {
            overflow: auto;
        }
    }

    @media only screen and (max-width: 460px) {
        .m-content {
            padding-right: 0px;
            padding-left: 0px;
        }

        .m-portlet__body {
            padding: 0px;
            overflow: auto;
        }
    }
</style>
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title">Mjerenja</h3>
        </div>
    </div>
</div>
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Mjerenja
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body" style="overflow: auto;">
            <form [formGroup]="filterForm">

                <div class="row">
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="input-group date">
                            <input type="text" class="form-control m-input" readonly="" placeholder="Datum od" id="m_datepicker_2" formControlName="startDate"
                                #StartDate>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="input-group date">
                            <input type="text" class="form-control m-input" readonly="" placeholder="Datum do" id="m_datepicker_3" formControlName="endDate"
                                #EndDate>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar-check-o"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <select class="form-control m-input" [(ngModel)]="selectedKlijent" formControlName="uredjajId" name="uredjaji">
                            <option value="-1" disabled>Odaberite uređaj</option>
                            <option *ngFor="let uredjaj of uredjaji" [ngValue]="uredjaj.id">
                                {{uredjaj.naziv}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <select class="form-control m-input" [(ngModel)]="selectedGrupa" formControlName="grupaId" name="grupe" (change)="onChange()">
                            <option value="-1" disabled>Odaberite grupu</option>
                            <option *ngFor="let grupa of grupe" [ngValue]="grupa.id">
                                {{grupa.naziv}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <select class="form-control m-input" [(ngModel)]="selectedPodgrupa" formControlName="podgrupaId" name="podgrupe">
                            <option value="-1" disabled>Odaberite podgrupu</option>
                            <option *ngFor="let uredjaj of _service?.filteredPodgrupe" [ngValue]="uredjaj.id">
                                {{uredjaj.naziv}}
                            </option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <button type="button" (click)="pretrazi(StartDate, EndDate)" class="btn btn-brand">Pretraži</button>
                    </div>
                </div>
            </form>

            <div id="m_table_1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                <flash-messages></flash-messages>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="m_table_1"
                            role="grid" aria-describedby="m_table_1_info" style="width: 1528px;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Country: activate to sort column ascending">Vrijeme</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 215.25px;" aria-label="CompanyName: activate to sort column ascending">Uređaj</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 144.25px;" aria-label="ShipCity: activate to sort column ascending">Temperatura</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 179.25px;" aria-label="ShipAddress: activate to sort column ascending">Vlažnost</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 138.25px;" aria-label="CompanyAgent: activate to sort column ascending">Minimalna temperatura</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 215.25px;" aria-label="CompanyName: activate to sort column ascending">Maksimalna temperatura</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 138.25px;" aria-label="CompanyAgent: activate to sort column ascending">Minimalna vlažnost</th>
                                    <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 215.25px;" aria-label="CompanyName: activate to sort column ascending">Maksimalna vlažnost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd" *ngFor="let mjerenje of _service?.mjerenja | paginate: { itemsPerPage: 20, currentPage: p }">
                                    <td class="sorting_1">{{mjerenje.vrijeme | dateFormatPipe }}</td>
                                    <td>{{mjerenje.loger}}</td>
                                    <td>{{mjerenje.t}}</td>
                                    <td>{{mjerenje.h}}</td>
                                    <td>{{mjerenje.tmin}}</td>
                                    <td>{{mjerenje.tmax}}</td>
                                    <td>{{mjerenje.hmin}}</td>
                                    <td>{{mjerenje.hmax}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 dataTables_pager">
                        <div class="dataTables_paginate paging_simple_numbers" id="m_table_1_paginate">
                            <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdOpacity=0.7 bdColor="#333" size="medium" color="#db1430" type="ball-fussion" fullScreen="true">
    <p style="color: white"> </p>
</ngx-spinner>
<script src="../../../assets/demo/demo12/custom/crud/forms/widgets/bootstrap-datepicker.js" type="text/javascript"></script>