<style>
    .my-class {
        background-color: rgba(255, 0, 0, 0.1);
        color: #000;
    }

    .my-class:hover {
        background-color: rgba(255, 0, 0, 0.2) !important;
    }

    @media only screen and (max-width: 1200px) {
        .m-portlet__head {
            overflow: auto;
        }
    }

    @media only screen and (max-width: 460px) {
        .m-content {
            padding-right: 0px;
            padding-left: 0px;
        }

        .m-portlet__body {
            padding: 0px;
            overflow: auto;
        }
    }
</style>
<div class="m-portlet__body">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title">Uređaji</h3>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Uređaji
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" style="overflow: auto;">
                <form [formGroup]="filterForm">
                    <div class="row">
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <select class="form-control m-input" [(ngModel)]="selectedGrupa" formControlName="grupaId" name="grupe" (change)="onChange()">
                                <option value="0">Odaberite grupu</option>
                                <option *ngFor="let grupa of grupe" [ngValue]="grupa.id">
                                    {{grupa.naziv}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <select class="form-control m-input" [(ngModel)]="selectedPodgrupa" formControlName="podgrupaId" name="podgrupe">
                                <option value="0">Odaberite podgrupu</option>
                                <option *ngFor="let uredjaj of _service?.filteredPodgrupe" [ngValue]="uredjaj.id">
                                    {{uredjaj.naziv}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <button type="button" (click)="pretrazi()" class="btn btn-brand">Pretraži</button>
                        </div>
                    </div>
                </form>
                <div id="m_table_1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped- table-bordered table-hover table-checkable dataTable no-footer dtr-inline" id="m_table_1"
                                role="grid" aria-describedby="m_table_1_info" style="width: 1528px;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 113.25px;" aria-label="Country: activate to sort column ascending">Naziv</th>
                                        <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 144.25px;" aria-label="ShipCity: activate to sort column ascending">Klijent</th>
                                        <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 179.25px;" aria-label="ShipAddress: activate to sort column ascending">Email 1</th>
                                        <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 138.25px;" aria-label="CompanyAgent: activate to sort column ascending">Email 2</th>
                                        <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 215.25px;" aria-label="CompanyName: activate to sort column ascending">Minimalna temperatura</th>
                                        <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 66.25px;" aria-label="ShipDate: activate to sort column ascending">Maksimalna temperatura</th>
                                        <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 66.25px;" aria-label="ShipDate: activate to sort column ascending">Minimalna vlažnost</th>
                                        <th class="sorting" tabindex="0" aria-controls="m_table_1" rowspan="1" colspan="1" style="width: 60.25px;" aria-label="Status: activate to sort column ascending">Maksimalna vlažnost</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 76.5px;" aria-label="Actions">Akcije</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd" *ngFor="let uredjaj of _service?.uredjaji | paginate: { itemsPerPage: 20, currentPage: p }" [ngClass]="{'my-class': uredjaj.podgrupaid==null }">
                                        <td>{{uredjaj.naziv}}</td>
                                        <td>{{uredjaj.klijent}}</td>
                                        <td>{{uredjaj.email1}}</td>
                                        <td>{{uredjaj.email2}}</td>
                                        <td>{{uredjaj.tmin}}</td>
                                        <td>{{uredjaj.tmax}}</td>
                                        <td>{{uredjaj.hmin}}</td>
                                        <td>{{uredjaj.hmax}}</td>
                                        <td nowrap="">
                                            <a (click)="edit(uredjaj)" class="m-portlet__nav-link btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill"
                                                title="View">
                                                <i class="la la-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 dataTables_pager">
                            <div class="dataTables_paginate paging_simple_numbers" id="m_table_1_paginate">
                                <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>